*{
	font-size:9pt;
	border:0;
	margin:0;
    padding:0;
}
body{
	font-family:'微软雅黑';
	margin:0 auto;
	min-width:980px;
}
ul{
	display:block;
	margin:0;
	padding:0;
	list-style:none;
}
li{
	display:block;
	margin:0;
	padding:0;
	list-style:none;
}
img{
	border:0;
}
dl,dt,dd,span{
	margin:0;
	padding:0;
	display:block;
}
a,a:focus{
	text-decoration:none;
	color:#000;
	outline:none;
	blr:expression(this..onFocus=this.blur());
}
a:hover{
	color:#00a4ac;
	text-decoration:none;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
cite{
	font-style:normal;
}
h2{
	font-weight:normal;
}

/*cloud*/
#mainBody{
	width:100%;
	height:100%;
	position:absolute;
	z-index:-1;
}
.cloud{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:url(../img/cloud.png) no-repeat;
	z-index:1;
	opacity:0.5;
}
#cloud2{
	z-index:2;
}

/*login*/
.logintop{
	height:47px;
	position:absolute;
	top:0;
	background:url(../img/loginbg1.png) repeat-x;
	z-index:100;
	width:100%;
}
.logintop span{
	color:#fff;
	line-height:47px;
	background:url(../img/loginsj.png) no-repeat 21px 18px; 
	text-indent:44px; 
	color:#afc5d2; 
	float:left;
}
.logintop ul{
	float:right;
	padding-right:30px;
}
.logintop ul li{
	float:left;
	margin-left:20px;
	line-height:47px;
}
.logintop ul li a{
	color:#afc5d2;
}
.logintop ul li a:hover{
	color:#fff;
}
.loginbody{
	background:url(../img/loginbg3.png) no-repeat center center;
	width:100%;
	height:585px;
	overflow:hidden;
	position:absolute;
	top:47px;
}
.loginHeader {
    padding-top: 102px;
    text-align: center;
    padding-bottom: 30px;
}
.loginHeader h1 {
    color: #fff;
    text-shadow: 2px 2px #000;
}
.loginbox{
	width:692px;
	height:336px;
	background:url(../img/logininfo.png) no-repeat center;
	margin-top:30px;
}
.loginbox ul{
	margin-top:88px;
	margin-left:285px;
}
.loginbox ul li{
	margin-bottom:25px;
}
.loginbox ul li label{
	color:#687f92;
	padding-left:25px;
}
.loginbox ul li label a{
	color:#687f92;
}
.loginbox ul li label a:hover{
    color:#3d96c9;
}
.loginbox ul li label input{
	margin-right:5px;
}
.loginuser{
	width:299px;
	height:48px;
	background:url(../img/loginuser.png) no-repeat;
	border:none;
	line-height:48px;
	padding-left:44px;
	font-size:14px;
	color:#90a2bc;
}
.loginpwd{
	width:299px;
	height:48px;
	background:url(../img/loginpassword.png) no-repeat;
	border:none;
	line-height:48px;
	padding-left:44px;
	font-size:14px;
	color:#90a2bc;
}
.loginbtn{
	width:111px;
	height:35px;
	background:url(../img/buttonbg.png) repeat-x;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	cursor:pointer;
	line-height:35px;
}
input[type='submit']:active, input[type='submit']:focus,
input[type='reset']:active, input[type='reset']:focus, .providerView a:hover, .providerView a:active {
    background: #2a5989;
    border: 1px solid rgb(12, 76, 87);
    -webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}
.loginbm{
	height:50px;
	line-height:50px;
	text-align:center;
	background:url(../img/loginbg2.png) repeat-x;
	position:absolute;
	bottom:0;
	width:100%;
	color:#0b3a58;
}
.loginbm a{
	font-weight:bold;
	color:#0b3a58;
}
.loginbm a:hover{
	color:#fff;
}

/*index*/
.iSuccess{
	width:88px;
	height:88px;
	margin:50px;
	float:left;
}
.iFont{
	float:left;
	margin-top:50px;
}
.iFont h2{
	font-size:25px;
	line-height:50px;
	color:#0a5eb6;
}
.iFont p{
	font-size:14px;
	line-height:30px;
	color:#000000;
}
.xline{
	border-bottom:solid 1px #dfe9ee;
	height:5px;
}
.iconlist{
	padding-left:40px;
	overflow:hidden;
}
.iconlist li{
	text-align:center;
	float:left;
	margin-right:25px;
	margin-top:25px;
	background-size:20px 20px;
}
.iconlist li p{
    line-height:25px;
}
.ibox{
	clear:both;
	padding-left:40px;
	padding-top:18px;
	overflow:hidden;
	padding-bottom:18px;
}
.ibtn{
	background:url(../img/ibtnbg.png) repeat-x;
	border:solid 1px #bfcfe1;
	height:23px;
	line-height:23px;
	display:block;
	float:left;
	padding:0 15px;
	cursor:pointer;
}
.ibtn img{
	margin-top:5px;
	float:left;
	padding-right:7px;
}

.providerTable {
    width: 100%;
    border: 1px solid #ccc;
}

.providerTable tr {
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.providerTable tr:nth-child(odd) {
    background: #f6f7f9;
}

.providerTable tr:hover {
    background: #e9f9ca;
}
.providerTable td a {
    margin-top: 10px;
    display: inline-block;
    margin-right: 10px;

}
.firstTr {
    border: 1px solid #d6dfe6;
    background: linear-gradient(to bottom, #f3f8fc, #ebf4f9, #e3f1fa, #e0f0fd, #d8e9fd);
}
.firstTr th {
    border-right: 2px solid rgba(209, 218, 223, 0.4);
}

/*delete*>
.zhezhao {
    display: none;          /* 修改这里可以让遮罩层消失*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    overflow: hidden;
}
.remove{
   display: none;       /* 修改这里可以让删除框消失*/
    width: 400px;
    height: 190px;
    position: absolute;
    top: 200px;
    left:500px;
    background: #fff;
    border-radius: 4px;
}
.removeChid{
    margin: 4px;
    border: 1px solid #ccc;
}
.removeChid h2{
    padding-left: 8px;
    font-size: 14px;
    line-height: 30px;
    margin: 4px 8px;
    border-bottom: 1px solid #99cc33;
}
.removeMain{
    margin-top: 38px;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 4px;
}
.removeMain a{
    padding: 0 20px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    border: 1px solid #5e8809;
    margin-top: 30px;
    background: #99cc33;
    color: #fff;
}
.removeMain a:hover,.removeMain a:active{
    background: #679016;

}

/*insert*/
.providerAdd {
    border: 1px solid #9ac70f;
    padding: 20px;
    margin: 20px;
}
.providerAdd form {

}
.providerAdd div {
    margin-top: 12px;
    margin-bottom: 12px;
}
.providerAdd label {
    width: 200px;
    display: inline-block;
    text-align: right;
}
.providerAdd input ,.providerAdd select{
    width: 260px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    outline: none;
    padding-left: 10px;
    border: 1px solid #4987c0;
    box-shadow: 1px 1px 1px #99afc4;
}
.providerAdd input:focus,.providerAdd select:focus {
    border: 1px solid #0e56a8;
    background: rgba(238, 236, 240, 0.2);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
}
.providerAdd span {
    margin-left: 480px;
    color: #faca0d;
}
/*验证错误*/
.providerAdd .error span {
    color: red;
}

.providerAdd .error input {
    border: 1px solid red;
}
/*验证成功*/
.providerAdd .ok span {
    color: green;
}
.providerAdd .ok input {
    border: 1px solid green;
}
.providerAdd input[type='radio']{
    width: 20px;
    height: 14px;
    line-height:12px;
    border-radius: 4px;
    outline: none;
    padding-left: 10px;
    border: none;
    box-shadow: none;
}
.providerAddBtn {
    margin-left: 240px;
    padding-top: 20px;
}
.providerAddBtn a ,
.providerAddBtn input[type='submit'],
.providerAddBtn input[type='button'] {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    border: transparent;
    background: linear-gradient(to bottom, #85c0ec, #6aa7d6, #508dc6, #306fb4, #17559e);
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    vertical-align: top;
}

.providerAddBtn a:active,
.providerAddBtn a:focus,
.providerAddBtn a:hover,
.providerAddBtn input[type='submit']:hover,
.providerAddBtn input[type='submit']:focus{
    background: linear-gradient(to bottom, #7aaed4, #578bb4, #406e99, #225792, #0d2d54);
}

.providerView {
    margin: 20px 0;
    font-size: 18px;
    line-height: 30px;
    padding-top: 30px;
    border: 1px dashed #3d4f1b;
}
.providerView strong {
    display: inline-block;
    width: 200px;
    text-align: right;
}
.providerView span {
    color: #bd644e;
}
.providerView a {
    margin-left: 520px;
    position: relative;
    top: 60px;
}

.est{
	font-size:15px;
	margin: auto;
    position: absolute;
    top: 340;
    left: 420;
    right: 0;
    bottom: 0;
}
.est1{
	font-size:15px;
	margin: auto;
    position: absolute;
    top: 510;
    left: 420;
    right: 0;
    bottom: 0;